doctype html
html
    head
        meta(charset="utf-8")
        title FOS
        style.
            html, body, #map-canvas {
                height: 100%;
                margin: 0px;
                padding: 0px
            }
            #panel {
                position: absolute;
                top: 5px;
                left: 50%;
                margin-left: -180px;
                z-index: 5;
                background-color: #fff;
                padding: 5px;
                border: 1px solid #999;
            }
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJIlUHgkbX3pUv7guWvW4E6eqg_DlpaP0")
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src="/javascripts/Grid.js")
        script(src="/javascripts/Pin.js")
        script(src="/javascripts/Chunk.js")
        script(src="/javascripts/Farm.js")
        script.

            var farms = [];

            JSON.parse('!{collections.farms}').forEach(function (f) {
                var farm = new Farm([]);
                f.pins.forEach(function(p){
                    farm.addPin(p);
                });
                farms.push(farm);
            });

            console.log(farms[1]);

            console.log(farms);

            var salinas = new google.maps.LatLng(36.6777, -121.6555);

            function initialize() {
                var mapOptions = {
                    zoom: 15,
                    center: salinas,
                    disableDefaultUI: true,
                    mapTypeId: 'satellite',
                    draggable: true
                };
                map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);

                placeMarker(salinas, map);

                google.maps.event.addListener(map, 'click', function (e) {
                    console.log(e.latLng);
                    placeMarker(e.latLng, map);
                    placeMarker({lat: e.latLng.lat() + .0009, lng: e.latLng.lng()}, map)
                });

                bindFarms();

            }

            // (p
            function addPin(Pin){
                console.log("Pin:" + String(Pin.Latitude) + " - " + String(Pin.Longitude));
                var location = new google.maps.LatLng(Pin.Latitude, Pin.Longitude);
                var circle = new google.maps.Circle({
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: '#FF0000',
                    fillOpacity: 0.35,
                    map: map,
                    center: location,
                    radius: 3
                });
                circle.setMap(map);

            }

            function placeMarker(position, map) {
                var marker = new google.maps.Marker({
                    position: position,
                    map: map
                });
            }

            function bindFarms(){
                var farmLinks = document.getElementById('farms').getElementsByTagName('a');

                for (var i = 0; i < farmLinks.length; i++){
                    console.log(farmLinks[i]);
                    farmLinks[i].onclick = function(e){
                        var ele = e.target;
                        var id = ele.innerHTML;
                        id = parseInt(id.split(" ")[1]) - 1;
                        var farm = farms[id];
                        console.log(farm);
                        var grid = new Grid(farm.getPins(), 15);
                        map.panTo(grid.getCenter());
                        grid.getChunks().forEach(function(chunk){
                            chunk.draw(map);
                        });
                    }
                }

            }


            google.maps.event.addDomListener(window, 'load', initialize);

            window.onbeforeunload = function(){ window.scrollTo(0,0) };
        link(rel='stylesheet',
        href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css',
        integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ',
        crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js',
        integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn',
        crossorigin='anonymous')
    style.
        body{
            overflow: hidden;
        }

block body
        script.
            var plotMyShit = function () {
                farms.forEach(function(farm){
                    farm.pins.forEach(function (pin){
                        addPin(pin);
                    });
                });
            }

        nav.navbar.navbar-toggleable-md.navbar-inverse.bg-primary
            button.navbar-toggler.navbar-toggler-right(type='button',
            data-toggle='collapse',
            data-target='#navbarSupportedContent',
            aria-controls='navbarSupportedContent',
            aria-expanded='false',
            aria-label='Toggle navigation')
                span.navbar-toggler-icon

            a.navbar-brand(href='#') FOS
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.dropdown
                        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Dropdown link
                        #farms.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                            each d, i in JSON.parse(collections.farms)
                                a.dropdown-item(href='#')= 'Farm ' + String(i+1)

                    li.nav-item
                        #plotPoints
                        a.nav-link(href="#", onclick='plotMyShit()') Plot

        #map-canvas